<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqw.mapper.EmployeeMapper">

    <!--<select id="selectAll" resultType="com.zqw.entity.Employee">-->
    <!--    select * from employee-->
    <!--</select>-->
    <insert id="add" parameterType="com.zqw.entity.Employee">
        insert into employee (username, password, role, name, sex, no, age, description, department_id, avatar)
        values(#{username}, #{password}, #{role}, #{name}, #{sex}, #{no}, #{age}, #{description}, #{departmentId}, #{avatar})
    </insert>
    <update id="modify">
        update employee
        <set>
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="role != null">role = #{role},</if>
            <if test="name != null">name = #{name},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="age != null">age = #{age},</if>
            <if test="no != null">no = #{no},</if>
            <if test="description != null">description = #{description},</if>
            <if test="departmentId != null">department_id = #{departmentId},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
        </set>
        where id = #{id}
    </update>

    <select id="fuzzyQuery" resultType="com.zqw.entity.Employee">
        select id, username, role, name, sex, age, no, description, department_id, avatar
        from employee
        <where>
            <if test="username != null">username like concat('%', #{username}, '%')</if>
            <if test="password != null">password like concat('%', #{password}, '%')</if>
            <if test="name != null">name like concat('%', #{name}, '%')</if>
            <if test="sex != null">sex like concat('%', #{sex}, '%')</if>
            <if test="age != null">age like concat('%', #{age}, '%')</if>
            <if test="no != null">no like concat('%', #{no}, '%')</if>
            <if test="description != null">description like concat('%', #{description}, '%')</if>
            <if test="departmentId != null">department_id like concat('%', #{departmentId}, '%')</if>
        </where>
        order by department_id asc
    </select>
    <delete id="removeBatch">
        delete from employee where id in
                             <foreach collection="list" open="(" close=")" separator="," item="id">#{id}</foreach>
    </delete>
</mapper>